<!DOCTYPE html>
<html>
  <head>
    <title>HappyParentsUa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p>
    <%= I18n.t('header.select_language') %> :
    <%=link_to I18n.t('header.lang_uk'), { locale: :uk } %>,
    <%=link_to I18n.t('header.lang_ru'), { locale: :ru } %>
    </p>
    <%= yield %>
  </body>
</html>
